@import url(./fonts-inter/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/header/header.css);
@import url(./blocks/main/main.css);
@import url(./blocks/wallet/wallet.css);
@import url(./blocks/coins/coins.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/FormManagmentCurrency/FormManagmentCurrency.css);

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
